
<div class="dAddView">
    <div style="" ng-controller="Examp1Controller" >
        <table style="width:100%;border:0;">
            <tr>
                <td class=""><span class="labelRegistro">Name</span></td>
                <td><input type="text" data-ng-model="newContact.name"  /></td>
            </tr>
            <tr>
                <td><span class="labelRegistro">Ocupation</span></td>
                <td><input  type="text" data-ng-model="newContact.ocupation"  /></td>
            </tr>
            <tr>
                <td ><span class="labelRegistro">Location</span></td>
                <td><input type="text" data-ng-model="newContact.location"   /> </td>
            </tr>
            <tr>
                <td ><span class="labelRegistro">nationality</span></td>
                <td><input type="text" data-ng-model="newContact.nationality"   /> </td>
            </tr>
             <tr>
                <td ><span class="labelRegistro">Email</span></td>
                <td><input type="text" data-ng-model="newContact.email"   /> </td>
            </tr>
            <tr>
                <td ><span class="labelRegistro">Phone</span></td>
                <td><input type="text" data-ng-model="newContact.phone"   /> </td>
            </tr>
            <tr>
                <td><button data-ng-click="save(newContact)" class="buttonRegistro">Save</button></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>