
        
        <H4>Angular JS</H4> 
        <p>
        	HTML is great for declaring static documents, but it falters when we try to use it for declaring dynamic views in web-applications. AngularJS lets you extend HTML vocabulary for your application. The resulting environment is extraordinarily expressive, readable, and quick to develop. 
        </p>
        <p>
        Other frameworks deal with HTML’s shortcomings by either abstracting away HTML, CSS, and/or JavaScript or by providing an imperative way for manipulating the DOM. Neither of these address the root problem that HTML was not designed for dynamic views. 
        </p>
         <H4>What is AngCore Base?</H4> 
         <p>
        	 AngCore is an structure application for a modern web application  using Angular Js. This Core contains Angular Js Libraries, Jquery, JQueryUi for special events, modernizr, Html5 boilerplate and Resets.
          </p>
          <p>You will find the basic structure that you need to start developing an Angular Application with a little example.</p>
         <h4>How to use AngCore Base?</h4>
         <p>
        	Clone AngoCore Base mercurial repositiory from https://bitbucket.org/EstebanLopezLumenup/angcore-base or git repository https://github.com/estebanlopezlumenup/AngCore-Base.git and start coding 

         </p>
            <h4>------------ Folder Tree --------------</h4>
          <div class="dContainerTree">
             <ul class="tree clearfix"> 
             	<li>AngCore 
                	<ul>
                    	<li>Doc</li> 
                        <li>App
                        	<ul>
                            	<li>controllers
                                	<ul><li><span class="fileIjs"> Examp1Controller.js</span></li></ul>
                                </li>
                                <li>directives
                                	<ul><li><span class="fileIjs"> directives.js</span></li></ul>
                                </li> 
                                <li>factories
                                	<ul><li><span class="fileIjs"> Exampl1Factory.js</span></li></ul>
                                </li>
                                <li>filter
                                	<ul><li><span class="fileIjs"> filters.js</span></li></ul>
                                </li>
                                <li>graphics
                                	<ul><li>img
                                    	<ul><li><span class="fileIJpg"> angCore.jpg</span></li></ul>
                                   		</li>
                                    </ul>
                                </li>
                                <li>libs
                                	<ul>
                                    <li>js
                                   		<ul>
                                        	<li>angular
                                            	<ul>
                                                    <li><span class="fileIjs"> angular-cookies.js</span></li>
                                                    <li><span class="fileIjs"> angular-cookies.min.js</span></li>
                                                    <li><span class="fileIjs"> angular-loader.js</span></li>
                                                    <li><span class="fileIjs"> angular-loader.min.js</span></li>
                                                    <li><span class="fileIjs"> angular-resource.js</span></li>
                                                    <li><span class="fileIjs"> angular-resource.min.js</span></li>
                                                    <li><span class="fileIjs"> angular-sanitize.js</span></li>
                                                    <li><span class="fileIjs"> angular-sanitize.min.js</span></li>
                                                    <li><span class="fileIjs"> angular.js</span></li>
                                                    <li><span class="fileIjs"> angular.min.js</span></li>
                                                    <li><span class="fileItxt"> version.txt</span></li>
                                                </ul>
                                            </li>
                                        	<li>vendor
                                            	<ul>
                                                	<li><span class="fileIjs"> jquery-1.9.1.min.js</span></li></li>
                                            		<li><span class="fileIjs"> modernizr-2.6.2.min.js</span></li></li>
                                                </ul>
                                            </li>                                 
                                        </ul>
                                    </li>
                                    </ul>  
                                </li>
                                <li>partials
                               		 <ul>
                                         <li><span class="fileIhtml"> _addView.html</span></li>
                                         <li><span class="fileIhtml"> _header.html</span></li>
                                         <li><span class="fileIhtml"> _list.html</span></li>
                                         <li><span class="fileIhtml"> _titleView.html</span></li>
                                     </ul>
                                </li>
                                <li>services
                                	<ul><li><span class="fileIjs"> services.js</span></li></ul>
                                </li>
                                <li>style
                                	<ul>
                                    	<li>css
                                    		<ul>
                                                <li><span class="fileIcss"> main.css</span></li>
                                                <li><span class="fileIcss"> normalize.css</span></li>
                                            </ul>
                                    	</li>
                                    </ul>
                                </li>
                                <li>views
                                	<ul>
                                    	<li><span class="fileIhtml"> example-view1.html</span></li>
                                        <li><span class="fileIhtml"> example-view2.html</span></li>
                                    </ul>
                                 </li>
                            </ul> 
                </li> 
           	</ul>
         </div>

 <H4>License</H4> 
<p>
The MIT License (MIT)

AngCore Base
Copyright (c) 2013 digitalparadoxdev - estebanlopezlumenup

Permission is hereby granted, free of charge, to any person obtaining a copy of
this software and associated documentation files (the "Software"), to deal in
the Software without restriction, including without limitation the rights to
use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
the Software, and to permit persons to whom the Software is furnished to do so,
subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN

</p>